@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  font-size: calc(14px + .2vw);
  font-family: 'Oxygen', sans-serif !important;
}

.App {
  min-height: 100vh;
 
  background-color: #0000003d;
}

a {
  text-decoration: none !important;
  
}

a.active {
  color: white !important;
border-bottom: 2px solid red;
}

a:hover {
  border-bottom: 1px solid red;
}

a.active:hover {
  
  
}

a.nav-link.active {

}

a.nav-link {
  text-align: center;
  
}

a.nav-link:hover {

}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,.55) !important;
}





body {
  margin: 0;
  font-family: 'Oxygen', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



::-webkit-scrollbar {
    width: 0px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #910000;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #da0000;
  }

.centered {
    text-align: center;
    padding: .6em 0;
    box-shadow: 0px 0px 4px .1px rgba(148, 84, 84, 0.425);
    background-color: #930000;
    color: white;
    margin: 0;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.card-header {
    background: #860000 !important;
    color: white;
    width: 100% !important;
    border: none !important;
    
}

.navbar-toggler {
  border: none !important;
  box-shadow: none;
  transition: none;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}


.navbar {
  flex-direction: column !important;
  top: 52px !important;
  background-color: black;
  
  border-bottom: 2px solid red;
}

@media only screen and (max-width: 600px) {

}
.d-block {
  height: 100%;
  max-height: 600px;
  min-height: 450px;

}

ul {
  padding-inline-start: 0;
  padding-block-start: 0;
  padding-left: 1rem !important;
}

.foot {
  position: static;
  bottom: 0;
  color: grey !important;
  background-color: #252525;
}

.figure, .figure.image {
  margin: 0 !important;
}


iframe {
  visibility: hidden;
}

.topheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  padding: 10px 0;
  margin: 36px auto 0 auto;
  max-width: 1400px;
 color: white;
}

.hours {
  height: 80%;
  width: clamp(200px, 30vw, 400px);
  margin-top: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}


.headers {
  width: 100%;
  height: 5rem;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-Weight: 900;
  border-bottom: 2px solid rgb(124, 0, 0);
  border-top: 1px solid rgb(124, 0, 0);

}

.divider {
  font-family: "Share Tech Mono", monospace;
  color: #fff;
  font-size: 6vh;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider::before, .divider::after {
  content: "";
  display: block;
  height: 0.09em;
  min-width: 15vw;
}
.divider::before {
  background: linear-gradient(to right, rgba(240, 240, 240, 0), rgb(170, 0, 0));
  margin-right:4vw;
}
.divider::after {
  background: linear-gradient(to left, rgba(240, 240, 240, 0), rgb(170, 0, 0));
  margin-left: 4vw;
}


.Animateditem {
  display: flex;
  width: 100%; 
  color: red;
  background-Size: cover;
  background-Position: center center;
  background-Repeat: no-repeat;
  justify-content: space-evenly;
  align-Items: center;
  flex-direction: column;
  height: 500px;
}
.Animateditem2 {
  display: flex;
  width: 100%;
  background-Size: cover;
  background-Position: center center;
  background-Repeat: no-repeat;
  justify-content: space-evenly;
  align-Items: center;
  flex-direction: column;
  height: 500px;
}

.titlewrapper {
  display: flex;
justify-content: center;
align-items: center;
text-align: center;
width: 1;
height: 100%;
background:rgba(0,0,0,.6);
text-shadow: -1px 1px #ff0000;
}

.textwrapper {
  display: flex;
justify-content: center;
align-items: center;
text-align: center;
padding:5rem 0;
width: 1;
height: 100%;
background:rgba(0,0,0,.6)
}

.row>* {
  padding-top: calc(var(--bs-gutter-x) * .5) ;
  padding-bottom: calc(var(--bs-gutter-x) * .5);
}

.txtinput {
  padding: 6px 1rem;
  border: 2px groove rgb(156, 0, 0);
  border-radius: 10px;
  margin: .4rem 0 !important;
  box-shadow: 0px 0px 2px .1px rgba(255, 255, 255, 0.226);
  background: rgba(105, 105, 105, 0.342);
  color:rgba(255, 255, 255, 0.808)
}

.txtinput:focus-visible {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(182, 182, 182);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(182, 182, 182);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(182, 182, 182);
}

input[type="submit" i] {
  background-color: #57575785;
  color: white !important;
  border-radius: 4px;
  padding: 6px;
  margin-top: 1rem;
}

